<div class="container export_report">
    <div class="row export-report-title">
        <div class="col-md-12">{{'Raport'}}</div>
    </div>
    <div class="row export-report-content">
        <div class="col-md-3 sidebar">
            <div>
                <div class="form-group">
                    <select class="form-control"  id="venue"
                            required
                            [(ngModel)]="venueValue" name="power">
                        <option [value]="undefined" disabled  selected>Lokal:</option>
                        <option *ngFor="let venue of venueList" [value]="venue">{{venue}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           ngbDatepicker
                           #dFrom="ngbDatepicker"
                           (click)="dFrom.toggle()"
                           [(ngModel)]="dateFrom"/>
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           ngbDatepicker
                           #dTo="ngbDatepicker"
                           (click)="dTo.toggle()"
                           [(ngModel)]="dateTo"/>
                </div>
            </div>
            <div>
                <button class="btn-approve btn btn-info" (click)="retrieveReport()"
                        [disabled]="!venueValue || !dateFrom || !dateTo">
                    {{'Zatwierdz'}}
                </button>
            </div>
        </div>
        <div class="col-md-9 main">
            <app-report-list
                [reportCollection]="reportCollection"
            ></app-report-list>
        </div>
    </div>
</div>

